parameters:
	ignoreErrors:
		-
			message: "#^Class Pimcore\\\\Bundle\\\\ApplicationLoggerBundle\\\\Installer not found.$#"
			reportUnmatched: false
			count: 1
			path: src/Installer.php

		-
			message: "#^Instantiated class Pimcore\\\\Bundle\\\\ApplicationLoggerBundle\\\\PimcoreApplicationLoggerBundle not found.$#"
			reportUnmatched: false
			count: 1
			path: src/PimcoreDataImporterBundle.php

		-
			message: "#^Class Pimcore\\\\Bundle\\\\ApplicationLoggerBundle\\\\PimcoreApplicationLoggerBundle not found.$#"
			reportUnmatched: false
			count: 1
			path: src/PimcoreDataImporterBundle.php