parameters:
    level: 4
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    stubFiles:
        - stubs/ElementInterface.stub
        - stubs/Hotspotimage.stub
        - stubs/Image.stub
        - stubs/QuantityValue.stub
        - stubs/Unit.stub
